svg {
  display: block;
  width: min(60%, 300px);
  margin: 50px auto;
  background: #eee;
  &.svg1 rect {
    width: 200px;
    height: 200px;
    x: 50px;
    y: 50px;
    fill: #ccc;
    stroke: #000;
    stroke-width: 10px;
    stroke-dasharray: 10px;
    animation: dash-move 10s linear infinite;
    @keyframes dash-move {
      0% {
        stroke-dashoffset: 0;
      }
      100% {
        stroke-dashoffset: 500px;
      }
    }
  } //rect

  &.svg2 rect {
    stroke-dasharray: 800px;
    stroke-dashoffset: 800px;
    transition: stroke-dashoffset 1s;
  } //rect
  &.svg2:hover rect {
    stroke-dashoffset: 0;
  }

  &.svg3 {
    .circle1 {
      cx: 150px;
      cy: 150px;
      r: 100px;
      fill: none;
      stroke: #ddd;
      stroke-width: 20px;
    }
    .circle2 {
      cx: 150px;
      cy: 150px;
      r: 100px;
      fill: none;
      stroke: blue;
      stroke-width: 20px;
      stroke-dasharray: 100px;
      stroke-dashoffset: 100px;
      transition: stroke-dashoffset 1s;
      transform-origin: center center;
      transform: rotate(-90deg);
    }
  }
} //svg1, svg2
